.board-wrapper {
    display: flex;
    flex-direction: row;

}

.board-notifications {
    display: flex;
    height: 1.5em;
   margin-bottom: 5px;

}

.item {
    margin-right: 10px;
    color: white;
    font-weight: bold;
}

.board-item:last-child {
    margin-right: 0;
}