
.board-container {
    height: 300px; /* Set the desired height for your game board */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    row-gap: 2px;
    column-gap: 2px;
    background-image: url('../assets/DragonTheme/board-stone2.JPG');
    background-position: center;
    background-size:cover;
    /*background-color: #2C4EA4;*/
    font-family: "Courier New", monospace;
    font-weight: bold;
    position: relative;
    z-index: 1;
    align-items: center;

    /*background-color: #f0f0f0; !* Light gray background color *!*/
    max-width: 350px; /* Adjust the max width as per your design */
    margin: 0 auto; /* Center the board */
    padding: 10px; /* Add some padding around the board */
    border-radius: 8px; /* Add some rounded corners to the board */
}