.header {
    display: flex;
    justify-content: space-between;
    /*height: 120px;*/
    /*flex-direction: column;*/
    margin-bottom:  8px;
    width: 95%;
    align-items: center;
    background-color: rgb(107, 156, 248);
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);


}

.opponent-board {
    display: flex;
    flex-grow: 1;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.avatar {
    margin-bottom: 10px; /* Add margin bottom to create space between avatar and stats */
}

.avatar-image {
    width: 50px;
    height: 50px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.right-section {
    display: flex;
    align-items: center;

}
