
.isFlippedSmall {
    font-size: 5px;
    border: solid 1.5px;
    border-color: #140602 #3a2201 #492104 #0a0101;
    background-image: url('../assets/DragonTheme/tile-stone6.JPG');
    background-size: contain;
    background-repeat: no-repeat;
}

.opponenttile {
    aspect-ratio: 1 / 1;
    border-radius: 1px;
    width: 5px;
    height: 5px;
    padding: 0.5px;
}
