.isBomb {
    background-color: #e3172f;
}

.isMarked {
    background-color: yellow;
}

.isFlipped {
    background-color: grey;
}

.tile {
    padding: 8px 12px;
    border: solid 1.5px darkblue;
    border-color: rgb(3, 3, 63) rgb(58, 58, 246) rgb(58, 58, 246) rgb(3, 3, 63);
    border-radius: 4px;
}

.zero {
    color: darkblue;
}