
.timer-red-bold {
    font-weight: bold;
    color: red;
    background-color: #f2ad00;
    animation: pulse 1s infinite;
}
/*
.timer{
    color: #f2ad00;
    background-color: black;
    font-weight: 500;
}
*/

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); /* Scale up by 5% at 50% of the animation */
    }
    100% {
        transform: scale(1);
    }
}