#root {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* .player-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} */




/* .dice-pool {
  display: flex;
  gap: 5px;
} */








@media only screen and (max-width: 480px) {
  
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 600px) {
  
}