#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  /*background-color: #405FAF;*/
  background-image: url('./assets/FireTheme/Scattered-Islands-lava.jpg');
  /*background-size: contain;*/
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  font-size: 1rem;
  flex-direction: column;
  /*color: white;*/

}


.button {
  margin-top: 8px;
  background-color: #f87809;
  color: #ffffff;
  font-weight: bold;
  border: black;
  border-width: thin;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s, transform 0.3s; /* Add transition for smoother effect */
}

.button:active, .flagged {
  transform: translateX(1px); /* Move the button down slightly to simulate press effect */
  background-color: #bb4610; /* Change the background color to a muted tone */
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4); /* Add an inset shadow for the pressed-in effect */
}

