#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  margin: 0;
  background-image: url('./assets/DragonTheme/lavabg.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  font-size: 1rem;
  flex-direction: column;
}

.flag {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 4px;
  width: 25px;
  padding: 3px;
}

.button {
  margin: 8px;
  background-color: #f85b1d;
  color: #ffffff;
  font-weight: bold;
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s, transform 0.3s; /* Add transition for smoother effect */
}

.button:active, .flagged {
  transform: translateX(1px); /* Move the button down slightly to simulate press effect */
  background-color: #9e3923; /* Change the background color to a muted tone */
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4); /* Add an inset shadow for the pressed-in effect */
}

