.dice {
    position: relative; /* Set the container to relative positioning */
    display: inline-block; /* Allow the container to size according to content */
    border-radius: 5px;
    height: 80px;
    width: 80px;
   padding: 5px;
    margin: 10px;

}

.diceImage img {
    position: absolute; /* Set the number to absolute positioning */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    opacity: 0.9;

}


.diceValue {
    position: absolute; /* Set the number to absolute positioning */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold;
    color: black;
}
