
.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 0;
}



.top {
    flex-grow: 1;
    color: white;
    /*padding: 5px;*/
    text-align: center;
    width: 100%;
    background: linear-gradient(to top right, #510e9a, #ded5fc);
}

.dicePoolContainer {
    color: white;
    /*padding: 5px;*/
    text-align: center;
    flex-grow: 2;
    background: linear-gradient(to top right, #510e9a, #ded5fc);
    width: 100%;
}

/*update class name to reflect function, rather than position*/
.resultContainer {
    color: white;
    /*padding: 5px;*/
    text-align: center;
    flex-grow: 2;
    background: linear-gradient(to bottom right, #510e9a, #ded5fc);
    width: 100%;

}

/*update class name to reflect function, rather than position*/
.diceSet {
    color: white;
    text-align: center;
    flex-grow: 2;
    width: 100%;
    background: linear-gradient(to bottom right, #510e9a, #ded5fc);

}

.diceHolder, .tileHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.rollDiceDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

}

.rollDiceButton {
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    background-color: mediumseagreen;
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px 2px darkslategray;
    transition: box-shadow 0.3s ease;
}

.rollDiceButton:hover {
    box-shadow: 8px 8px 4px darkslategray;
}

.result {
    align-self: center;
}