.handleRoll-button{
    margin: 10px;
   width: 70px;
   height: 70px;
   padding: 20px;
   border-radius: 50%;
   font-weight: bolder;
   color: black;
   font-size: 1.2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   /* background-image: url("../assets/pngs/diceQuantitiesImgs/dice-png-27640.png"); */
}

.handleEndTurn-button{
    margin: 10px;
    width: 70px;
    height: 70px;
    padding: 20px;
    border-radius: 10%;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}