
.game-play-container{
    width: 95%;
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

/* .player-flex{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
   
} */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.player-gameboard-title{
    margin-bottom: 30px;
} 


.top-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    
}



.players{

    width: 33.3%;

}

.button-container{
    
}






.right{
   
    justify-content: start;
    margin-bottom:  60px;
    
    width: 25%;
    

}

.left{
   
    justify-content: end;
    margin-bottom:  60px; 
}

.handleRoll-button{
    border: 1px solid black;
    width: 70%;
}


.middle-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60%;
}

.player-name{
    
    box-shadow: 7px 10px 6px 5px rgba(0, 0, 0, 0.604);
    display: flex;
    flex-wrap: wrap;
    color: black;
    background-color: yellowgreen
    
}
.bottom-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25%;
}


.red-border{
    border: solid 1px red;
}


.dice-button{
    width: 58px;
    height: 58px;
    padding: 0;
    margin: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 6px 6px 5px rgba(0, 0, 0, 0.604);
}


.dice-container{
    display: flex;
    flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     height: 75% ;
     width: 100%;

}



.roll-dice-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33.3%;
 
    
    
    
}

.player-flex{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
   
}


