


/* .player-count-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    width: 100%;
    
} */


.glow{
    box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 50px rgba(245, 234, 245, 0.612),   /* inner left magenta short */
    inset -20px 0 50px rgba(217, 225, 225, 0.674),  /* inner right cyan short */
    inset 20px 0 50px rgba(234, 228, 234, 0.539),  /* inner left magenta broad */
    inset -20px 0 50px rgba(228, 237, 237, 0.457), /* inner right cyan broad */
    0 0 5px #ffffffd5,            /* outer white */
    -1px 0 50px rgba(235, 225, 235, 0.284),        /* outer left magenta */
    1px 0 50px rgba(232, 239, 239, 0.469);    
}



.player-1-name{
  
    color: white;
    background-color:#FF851B;
    box-shadow: 7px 10px 6px 5px rgba(0, 0, 0, 0.604);
    border-radius: 10px;
    
   
    
    

}

.avatar-dice-container{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}
.player-2-name{
  
    box-shadow: 7px 10px 6px 5px rgba(0, 0, 0, 0.604);
     color: white;
    background-color:#5753c9;
    border-radius: 10px;
    height: 100%;
}

.player-3-name{

    box-shadow: 7px 10px 6px 5px rgba(0, 0, 0, 0.604);
    color: white;
    background-color: #0e9156;
    border-radius: 10px;
    height: 100%;

}

.player-4-name{
    background-color: #0074D9;
    color: white;
    box-shadow: 7px 10px 6px 5px rgba(0, 0, 0, 0.604);
    border-radius: 10px;
    height: 100%;
}

.player-5-name{

    box-shadow: 7px 10px 6px 5px rgba(0, 0, 0, 0.604);
    color: white;
    background-color: #5aad0d;
    border-radius: 10px;
    height: 100%;

}

.player-6-name{
    background-color: #d90077;
    color: white;
    box-shadow: 7px 10px 6px 5px rgba(0, 0, 0, 0.604);
    border-radius: 10px;
    height: 100%;
}

.avatar{

    width: 30%;
    border-radius: 50%;
    
}

.avatar-container{
  
    width: 100%;
    height: 100%;
    
}



.dice-counter{

    width: 50%;
}


.player-h4{
    margin: 0;
    font-weight: 900;
    font-size: 11px;
}

.counter-h4{
    font-size: 2.5rem;
    
    font-weight: bold;
}

/* .challenges{
    display: flex;
    font-size: 1.2rem;
    padding: 1px;
    justify-content: center;
}

.challenges img{
    width: 25px;
} */


hr{
    border: .5px solid rgb(255, 255, 255);
    opacity: .3;
    display: none;
}


.challenge-text{
    font-size: 10px;
}

.user-name{
    padding: 2px 0 2px 0;
}

/* .splat{
    width: 70px;
    position: absolute;
    left:30px;
    z-index: 10;
  
} */


@media only screen and (max-width: 480px) {
  
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 600px) {
  
}