.player{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dice-pool{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}