
.popup-container {
    position: fixed;
    width: 90%;
    height: 90%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5); /* Darken the background with alpha transparency */
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  
   
    text-align: center;
    color: white; /* Set the text color to white */
    padding: 20px;
    border-radius: 15px;
    background: rgba(0, 171, 255, 0.8); /* Semi-transparent dark background for the popup body */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.playerSelect {
    display: flex;
    justify-content: space-between;
}

.opponent {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    flex-grow: 1;


}

.player-avatar {
    width: 70px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
}

.opponent-name {
    font-weight: bold;
    color: black;
}

.avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    padding: 10px;
   
    border-radius: 10px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 600px) {

}