
.popup-container {
    position: fixed;
    width: 90%;
    height: 90%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5); /* Darken the background with alpha transparency */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    color: white; /* Set the text color to white */
    padding: 20px;
    border-radius: 15px;
    background: rgba(0, 171, 255, 0.8); /* Semi-transparent dark background for the popup body */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.playerSelect {
    display: flex;
    justify-content: space-between;
}

.opponent {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    flex-grow: 1;
    font-width: bold;
    color: white;

}




@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 600px) {

}